body
{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Courier New';
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: rgb(88, 127, 255);
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    font-weight: bold; 
    margin: 0;
    padding: 0.5em;
}

#cabecera stagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}